@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");

$dark: #151515;
$light: #CACACA;

html{
   font-size: 32px;
}

body {
   font-family: "Dosis", sans-serif;
   text-align: center;
   background-color: $dark;
   color: $light;
   overflow: hidden;
}

button {
   font-family: "Dosis", sans-serif;
   background-color: $dark;
   color: $light;
   border-radius: 0.1rem;
   padding: 0.1rem 0.25rem;
   border: 1px solid $light;
   &:hover{
      color: $dark;
      background-color: $light;
   }
}

pre {
   font-size: 0.5rem;
   text-align: left;
}

#root{
   > label {
      display: block;
      font-size: 0.5rem;        
      text-align: left;
      margin-bottom: 0.25rem;
   }

   .row{
      display: flex;
      * {
         margin-right: 0.5em;
      }
   }

   .fullscreen{   
      position: absolute;
      top: 50%;
      height: 100vh;
      left: 50%;
      width: 100vw;
      transform: translate(-50%, -50%);
      z-index: -1;
   }
}
